*{
  box-sizing: border-box;
}
html body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.2em;
  
}
.hide{
  display: none;
}
.main{
  margin: auto;
  width: 800px;
  padding: 10px;
}
.msg{
  text-align: center;
}
.gamearea{
  position: relative;
  margin: auto;
  margin-top: 10px;
  height: 500px;
  border: 3.5px solid black;
  border-radius: 8px;
  background-color: aliceblue;
}
.button{
  background-color: beige;
  height: 100px;
  width: 200px;
  margin: auto;
  margin-top: 175px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  font-size: 1.7em;
  border-radius: 8px;
  border: 3.5px solid black;
}